*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
   
    background: linear-gradient(90deg, #2e2e2e, #020274);
   

}

button{
    width: 3%;  
}


#input{
    width: 30%;
}


#image{
    height: 50%;
    width: 50%;
}